# Tarea 1 Bases de Datos 2023-1 Grupo 26

## Integrantes:
* Cristobal Cesped - 202173054-0
* Ezequiel Falk - 201821031-5

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [1]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: six in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: pickleshare in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: colorama in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: traitlets>=5 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: stack-data in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: matplotlib-inline in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: wcwidth in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (2.9.6)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: names in c:\users\ezequ\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

[notice] A new release of pip available: 22.2.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [3]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:@localhost:5432/tarea_BD

env: DATABASE_URL=postgresql://postgres:kirbychino123@localhost:5432/tarea_BD

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [4]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea_BD',
   password=""
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000018ED8238F20; dsn: 'user=postgres password=xxx dbname=tarea_BD host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS "facciones"(
  id INT PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
  
  nombre VARCHAR(45) NOT NULL,
  descripcion VARCHAR(45) NOT NULL
);

Done.

[]

### Tabla "trabajos" (6 pts)

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS "trabajos"(
  id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
  
  nombre VARCHAR(45) NOT NULL,
  descripcion VARCHAR(45) NOT NULL,
  sueldo INT NOT NULL
);

 * postgresql://postgres:***@localhost:5432/tarea_BD
Done.

[]

### Tabla "personas" (6 pts)

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS "personas"(
  id INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
  
  nombre VARCHAR(45) NOT NULL,
  apellidos VARCHAR(45) NOT NULL,
  fecha_nacimiento DATE NOT NULL,
  infectado BOOL NOT NULL
);


ALTER TABLE
  "personas"
ADD COLUMN IF NOT EXISTS 
"conyugue" INT UNIQUE REFERENCES "personas"(id);

 * postgresql://postgres:***@localhost:5432/tarea_BD
Done.
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [8]:
%%sql
CREATE TABLE IF NOT EXISTS "cuentas_bancarias"(
  id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
  
  tipo_de_cuenta VARCHAR(45) NOT NULL,
  banco VARCHAR(45) NOT NULL,
  saldo INT NOT NULL,
  
  id_persona INT NOT NULL  REFERENCES "personas"(id)
);

 * postgresql://postgres:***@localhost:5432/tarea_BD
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS "persona_pertenece_faccion"(
  id_faccion INT REFERENCES facciones(id),
  id_persona INT REFERENCES personas(id),
  
  PRIMARY KEY (id_faccion, id_persona)
);

 * postgresql://postgres:***@localhost:5432/tarea_BD
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [10]:
%%sql
CREATE TABLE IF NOT EXISTS "persona_tiene_trabajo"(
  id_trabajo INT REFERENCES trabajos(id),
  id_persona INT REFERENCES personas(id),
  
  estado BOOL NOT NULL,
  ultima_vez_realizado TIMESTAMP NOT NULL,
  
  PRIMARY KEY (id_trabajo, id_persona)
);

 * postgresql://postgres:***@localhost:5432/tarea_BD
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** La consulta pide los atributos id, nombre y solo el primer apellido de la tabla personas. Se realiza un JOIN a la tabla persona_pertenece_faccion para luego realizar otro JOIN a la tabla facciones, de esta forma es posible escoger solo a las
  personas que pertenecen a FEDRA por medio de un WHERE. Por ultimo se agrupan y se ordenan de forma descendente segun id de
  persona.

In [12]:
%%sql

SELECT
    personas.id, 
    personas.nombre,
    split_part(apellidos, ' ', 1) AS apellido
    
FROM 
    personas JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
JOIN  
    facciones ON persona_pertenece_faccion.id_faccion = facciones.id

WHERE
    facciones.nombre = 'FEDRA'

ORDER BY
    personas.id

 * postgresql://postgres:***@localhost:5432/tarea_BD
59 rows affected.

[(3, 'Jim', 'Moore'),
 (31, 'Beverly', 'Griffin'),
 (38, 'Jose', 'Eppinger'),
 (44, 'Stephen', 'Garza'),
 (61, 'Katherine', 'Lam'),
 (63, 'Ricky', 'White'),
 (68, 'Jamie', 'Ramsey'),
 (79, 'Heather', 'Edwards'),
 (105, 'Joan', 'Gonzalez'),
 (153, 'Edwin', 'Bolk'),
 (193, 'Callie', 'Locke'),
 (224, 'George', 'Araiza'),
 (227, 'Denise', 'Hickman'),
 (242, 'Russell', 'Strickland'),
 (264, 'Jacob', 'Palmer'),
 (294, 'Robert', 'Saldana'),
 (309, 'Helen', 'Gomez'),
 (346, 'Roberto', 'Bertrand'),
 (353, 'Janyce', 'Zent'),
 (359, 'Mary', 'Grayson'),
 (373, 'Beatrice', 'Denham'),
 (394, 'Nancy', 'Shuster'),
 (470, 'Peggy', 'Gerdes'),
 (474, 'Raymundo', 'Ford'),
 (480, 'Theodore', 'Ford'),
 (498, 'Edwin', 'Dawson'),
 (510, 'Joanne', 'Rindels'),
 (512, 'Gregory', 'Wagner'),
 (516, 'Joseph', 'Bishop'),
 (527, 'Jay', 'Fitch'),
 (545, 'Robert', 'Noble'),
 (547, 'Robert', 'Williams'),
 (552, 'Lamont', 'Anson'),
 (553, 'Lisa', 'Langlinais'),
 (564, 'Amanda', 'Walls'),
 (569, 'Anna', 'Taylor'),
 (595, 'John', 'Caldwell'),
 (602, 'Kenneth', 'Goodell'),
 (616, 'Roy', 'Trimble'),
 (633, 'Emily', 'Shearin'),
 (635, 'Christopher', 'Armendariz'),
 (668, 'Jamel', 'Sellers'),
 (681, 'Carla', 'Shankle'),
 (716, 'Jessica', 'Colombo'),
 (740, 'Darlene', 'Gelsinger'),
 (759, 'Ellen', 'Ruiz'),
 (765, 'Page', 'Allison'),
 (791, 'Casandra', 'Jackson'),
 (817, 'Michael', 'Burke'),
 (850, 'Ophelia', 'Loya'),
 (851, 'Joseph', 'Nelson'),
 (854, 'Anthony', 'Taggart'),
 (877, 'Imelda', 'Mendez'),
 (891, 'Rodney', 'Holt'),
 (928, 'Michelle', 'Lewis'),
 (973, 'David', 'Murph'),
 (986, 'Ronald', 'Reckart'),
 (999, 'Eric', 'Carr'),
 (1000, 'Rhonda', 'Vancamp')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** Se selecciona de la tabla personas el atributo id y se cuenta la cantidad que este veces que este atributo esta en la tabla, luego se escogen solamente aquellos que nacieron despues de la fecha solicitada por medio de un WHERE.

In [13]:
%%sql

SELECT
    COUNT(id) AS Cantidad
FROM 
    personas
WHERE 
    fecha_nacimiento > '2019-12-01'

 * postgresql://postgres:***@localhost:5432/tarea_BD
1 rows affected.

[(47,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** Se seleccionan los atributos id, nombre y solo el primer apellido de la tabla personas, tambien se selleciona el atributo saldo de la tabla cuentas_bancarias. Para esto se hace un JOIN entre personas y cuentas bancarias y se limita el numero de columnas en 20.

In [14]:
%%sql

SELECT
    personas.id, 
    personas.nombre,
    split_part(apellidos, ' ', 1) AS apellido,
    cuentas_bancarias.saldo AS dinero
    
FROM 
    personas RIGHT JOIN cuentas_bancarias
    
ON
    personas.id = cuentas_bancarias.id_persona 
    
LIMIT  
    20;

 * postgresql://postgres:***@localhost:5432/tarea_BD
20 rows affected.

[(388, 'Regina', 'Curry', 6387),
 (319, 'Winnie', 'Blankenship', 9703),
 (505, 'Debra', 'Reynolds', 2689),
 (442, 'Jessica', 'Rude', 9118),
 (823, 'Paul', 'Sudduth', 5471),
 (337, 'Kirk', 'Hall', 1692),
 (662, 'Maurice', 'Kurtz', 7703),
 (163, 'Karina', 'Luciano', 555),
 (483, 'Debbie', 'Mcconnell', 3124),
 (33, 'Daniel', 'Kane', 6739),
 (420, 'Brett', 'Odom', 1879),
 (852, 'Consuelo', 'Page', 5624),
 (111, 'Lisa', 'Manning', 8864),
 (732, 'Darlene', 'Naccarato', 5815),
 (590, 'Samuel', 'Mccurry', 871),
 (205, 'Alfred', 'Duran', 4373),
 (323, 'Cynthia', 'Cross', 4635),
 (787, 'Wanda', 'Pieper', 4272),
 (464, 'Juan', 'Cool', 6318),
 (398, 'Trenton', 'Benson', 4256)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** Se seleccionan los atributos nombre de la tabla facciones y se cuenta la cantidad de id_trabajo de la tabla 
   persona_tiene_trabajo. Se realiza un JOIN desde la tabla persona_tiene_trabajo a las siguiente tablas: trabajos, personas, persona_pertenece_faccion y facciones, luego con un WHERE se seleccionan aquellos trabajadores donde su atributo ultima_vez_realizado fuera menor que la fecha 2021-4-22 y que ademas su estado fuera True. Por ultimo la tabla se agrupo segun los nombres de las facciones y se ordeno segun la cantidad de id_trabajo de forma descendente

In [15]:
%%sql

SELECT
    facciones.nombre AS facción,
    COUNT(persona_tiene_trabajo.id_trabajo) AS cantidad_de_trabajadores
    
FROM persona_tiene_trabajo JOIN trabajos ON persona_tiene_trabajo.id_trabajo = trabajos.id 

JOIN personas ON persona_tiene_trabajo.id_persona = personas.id    
    
JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
    
JOIN facciones ON persona_pertenece_faccion.id_faccion = facciones.id


WHERE
    ultima_vez_realizado < '2021-4-22'
AND
    persona_tiene_trabajo.estado = True
    
GROUP BY
    facciones.nombre

ORDER BY
    COUNT(persona_tiene_trabajo.id_trabajo) DESC

 * postgresql://postgres:***@localhost:5432/tarea_BD
6 rows affected.

[('FEDRA', 7),
 ('MaCdonia', 6),
 ('Luciérnagas', 4),
 ('Pythonia', 4),
 ('Carroñeros', 4),
 ('JavaScriptia', 2)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** Se selecciona el atributo nombre de la tabla facciones y se cuentan la cantidad de personas infectadas de la tabla personas. Se realiza un JOIN desde la tabla personas a persona_pertenece_faccion y facciones. Para escoger solo a las personas infectadas se realiza un WHERE donde la condicion es que el atributo infectado sea True. Por ultimo se agrupan segun el nombre de las facciones y se ordenan de forma descendente segun la cantidad personas infectadas.

In [16]:
%%sql

SELECT
    facciones.nombre AS facción,
    COUNT(personas.infectado) AS personas_infectadas
    
FROM 
    personas JOIN persona_pertenece_faccion ON personas.id = persona_pertenece_faccion.id_persona
JOIN
    facciones ON persona_pertenece_faccion.id_faccion = facciones.id
    
WHERE
    infectado = True

GROUP BY
    facciones.nombre

ORDER BY
    COUNT(personas.infectado) DESC

 * postgresql://postgres:***@localhost:5432/tarea_BD
6 rows affected.

[('Pythonia', 37),
 ('FEDRA', 29),
 ('MaCdonia', 27),
 ('Carroñeros', 25),
 ('Luciérnagas', 23),
 ('JavaScriptia', 17)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** Se seleccionan los datos id_faccion(para saber de que faccion vienen los datos), id_trabajo (para saber los trabajos realizados) y el count(id_trabajo) (esto para observar cual es el que más se repite), esto de un INNER JOIN entre persona_pertenece_faccion y persona_tiene_trabajo conectandolos en base a su id_persona. Despues de esto se ordenan de mayor a menor en un grupo formado enfocado en id_faccion y id_trabajo para posteriormente dejar un solo elemento con distinct ON (id_faccion). Para finalizar se relacionan los id con sus respectivas facciones y trabajos.

In [17]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT 
    f.nombre AS faccion,
    t.nombre AS trabajo
    
    
FROM
        (SELECT DISTINCT ON (id_faccion)
            id_faccion,
            id_trabajo,
            COUNT(id_trabajo) AS recurrences
            
        FROM
                persona_pertenece_faccion f
            INNER JOIN
                persona_tiene_trabajo t

            ON
                f.id_persona = t.id_persona

        GROUP BY
            id_faccion,
            id_trabajo

        ORDER BY 
            id_faccion,
            recurrences DESC) AS relacion
    
    INNER JOIN 
        facciones f
    ON
            f.id = id_faccion
    
    INNER JOIN
        trabajos t   
    ON
            t.id = id_trabajo

 * postgresql://postgres:***@localhost:5432/tarea_BD
6 rows affected.

[('FEDRA', 'Cerrajero'),
 ('Luciérnagas', 'Limpieza'),
 ('Carroñeros', 'Explorador'),
 ('Pythonia', 'Carpintero'),
 ('MaCdonia', 'Explorador'),
 ('JavaScriptia', 'Cartero')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** Se seleciona el atributo nombre de la tabla faccion y se suman todos saldos de la tabla cuentas_bancarias. Luego se realiza un JOIN desde facciones a persona_pertenece_faccion y luego a cuentas_bancarias. Se agrupan segun los nombres de las facciones se ordenan de forma descendente segun la suma de los saldos.

In [18]:
%%sql

SELECT
    facciones.nombre AS facción,
    SUM(cuentas_bancarias.saldo) AS saldo

FROM 
    facciones JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
JOIN
    cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona

GROUP BY
    facciones.nombre

ORDER BY
    saldo DESC

 * postgresql://postgres:***@localhost:5432/tarea_BD
6 rows affected.

[('Luciérnagas', 29806),
 ('JavaScriptia', 28823),
 ('Pythonia', 25906),
 ('Carroñeros', 23161),
 ('MaCdonia', 19913),
 ('FEDRA', 10741)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** Se selecciona el atributo banco de la tabla cuentas_bancarias, se cuentan la cantidad de id_persona en la misma tabla y se suman los saldos de esta. Agrupando los resultados segun el atributo banco.

In [19]:
%%sql

SELECT 
    banco,
    COUNT(id_persona) AS cantidad,
    SUM(saldo) AS saldo
    
FROM
    cuentas_bancarias
    
GROUP BY
    banco

 * postgresql://postgres:***@localhost:5432/tarea_BD
10 rows affected.

[('Banco Estado SpA', 9, 48573),
 ('FedraBank S.A', 13, 64655),
 ('Banco Pythonia S.A', 10, 49030),
 ('Banco BBVA', 13, 53022),
 ('Banco Pedrito Pascal SpA', 13, 67154),
 ('Banco Consorcio S.A', 12, 67355),
 ('Banco Santander SpA', 13, 69220),
 ('Banco Scotiabank', 16, 83158),
 ('Banco BCI SpA', 11, 61866),
 ('Banco de la Nación S.A', 10, 41523)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** Primero se obtiene el id_faccion, banco, count(banco.id), de una INNER JOIN entre persona_pertenece_faccion y cuentas_bancarias esto en base a id de la cuenta bancaria y el de persona. Esto se agrupo en base al id faccion y al banco. Posteriormente se obtuvo el id_faccion y la cantidad maxima de recurrencia del banco, de la tabla ya dicha pero en base a un grupo hecho por id faccion.
Luego se obtiene el id de la faccion más el banco, esto en base a un INNER JOIN entre la tabla ya mencionada y una nueva que entrega el id faccion, banco y la cantidad maxima de recurrencia del banco. Estas se conectan en base a la cantidad maxima de recurrencia y el id faccion, posteriormente se realiza un SELECT DISTINCT ON (id_faccion) y asi obtenemos solo tenemos una vez cada id faccion con su respectiva cuenta de banco con mayor recurrencia, finalmente se conecta el id con el nombre y se entrega el nombre de la faccion y el banco.

In [20]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT 
    nombre, 
    banco
    
FROM

        (SELECT DISTINCT ON (id_faccion)
        id_faccion, 
        banco
        
        
    FROM 

                (SELECT
                    id_faccion,
                    MAX(cantidad) AS cantidad_maxima
                
                FROM
                    (SELECT
                        id_faccion,
                        banco,
                        COUNT(c.id) AS cantidad
                    
                    
                    FROM 

                            persona_pertenece_faccion p
                        INNER JOIN
                            cuentas_bancarias c
                        ON
                            c.id_persona = p.id_persona
                            
                    GROUP BY
                        id_faccion,
                        banco
                    
                    ORDER BY
                        id_faccion


                    ) AS id_tipo_de_cuenta_cantidad
                    
                GROUP BY
                    id_faccion) as id_cantidad
            
            INNER JOIN

                (SELECT
                        id_faccion AS id,
                        banco,
                        COUNT(c.id) AS cantidad
                    
                    
                    FROM 

                            persona_pertenece_faccion p
                        INNER JOIN
                            cuentas_bancarias c
                        ON
                            c.id_persona = p.id_persona
                            
                    GROUP BY
                        id_faccion,
                        banco
                    
                    ORDER BY
                        id_faccion


                    ) AS id_tipo_de_cuenta_cantidad
            
            ON 
            
                    cantidad = cantidad_maxima 
                AND
                    id_faccion = id


    ORDER BY 
        id_faccion, 
        RANDOM()) AS id_banco
    
INNER JOIN    
    facciones
ON
    id = id_faccion

 * postgresql://postgres:***@localhost:5432/tarea_BD
6 rows affected.

[('FEDRA', 'Banco Pedrito Pascal SpA'),
 ('Luciérnagas', 'Banco BCI SpA'),
 ('Carroñeros', 'Banco Pythonia S.A'),
 ('Pythonia', 'Banco BCI SpA'),
 ('MaCdonia', 'Banco de la Nación S.A'),
 ('JavaScriptia', 'Banco BBVA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** Hago una INNER JOIN entre la tabla persona_pertenece_faccion y ella misma, las conecto en base a un mismo id_persona pero diferente faccion y selecciono el id, con eso solo conecto con un INNER JOIN el id de la persona obtenido con la tabla personas en base a personas.id = y el id. posteriormente recabo los datos solicitados.

In [21]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT DISTINCT
    id, 
    nombre,
    split_part(apellidos, ' ', 2) AS apellido
        
FROM 
    
        (SELECT
            p1.id_persona
        
        FROM
                persona_pertenece_faccion p1 
            INNER JOIN 
                persona_pertenece_faccion p2 

        ON 
                p1.id_persona = p2.id_persona
            AND 
                p1.id_faccion != p2.id_faccion) AS est
    
    INNER JOIN 
        
        personas

ON 
    personas.id = est.id_persona

 * postgresql://postgres:***@localhost:5432/tarea_BD
37 rows affected.

[(784, 'Martin', 'Davis'),
 (912, 'Tory', 'Collins'),
 (928, 'Michelle', 'Chapman'),
 (992, 'Ted', 'Grubb'),
 (68, 'Jamie', 'Rhodes'),
 (854, 'Anthony', 'Burton'),
 (782, 'Rudolph', 'Smith'),
 (708, 'Benjamin', 'Mcalpine'),
 (552, 'Lamont', 'Scott'),
 (621, 'Maria', 'Ridley'),
 (130, 'Charles', 'Lang'),
 (394, 'Nancy', 'Huggins'),
 (55, 'Janet', 'Gore'),
 (30, 'Rebekah', 'Collins'),
 (436, 'Bruce', 'Hibbler'),
 (63, 'Ricky', 'Canby'),
 (44, 'Stephen', 'Foster'),
 (821, 'Virginia', 'Fuente'),
 (335, 'Brent', 'Parks'),
 (616, 'Roy', 'Childs'),
 (105, 'Joan', 'Starner'),
 (710, 'Karl', 'Arroyo'),
 (258, 'Jesus', 'Velez'),
 (38, 'Jose', 'Caporiccio'),
 (927, 'Denise', 'Steele'),
 (391, 'Arthur', 'Fawcett'),
 (549, 'Cheryl', 'Smith'),
 (366, 'Daphne', 'Branham'),
 (668, 'Jamel', 'Davenport'),
 (49, 'Glenn', 'Washington'),
 (906, 'Gary', 'Leary'),
 (900, 'Lowell', 'Ertel'),
 (734, 'Jesse', 'Schwend'),
 (553, 'Lisa', 'Edelman'),
 (373, 'Beatrice', 'Coleman'),
 (173, 'Louise', 'Jeffers'),
 (986, 'Ronald', 'Jones')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** Se realiza una conexion entre la tabla personas consigo misma en base al conyuge de la persona 1 sea igual al id de la persona 2, y se muestran los datos solicitados, esto solo cuando el id del conyuge sea mayor al de la persona, esto en base a que una persona de la pareja va a tener un id mayor al otro por ende solo se va a mostrar una persona.

In [22]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    p1.nombre AS nombre_persona_1, 
    split_part(p1.apellidos, ' ', 1) AS apellido_persona_1,
    
    p2.nombre AS nombre_persona_2,
    split_part(p2.apellidos, ' ', 1) AS apellido_persona_2
    
FROM
        personas p1
    INNER JOIN 
        personas p2
    ON
        p1.conyugue = p2.id

WHERE
        p1.id < p1.conyugue

 * postgresql://postgres:***@localhost:5432/tarea_BD
86 rows affected.

[('Katherine', 'Lam', 'Isabel', 'Ortiz'),
 ('Robert', 'Shipe', 'Joshua', 'Vega'),
 ('Glenn', 'Harward', 'Jose', 'Mccaffrey'),
 ('Charlotte', 'Williams', 'Stacy', 'Hartzell'),
 ('Kirk', 'Hall', 'Phil', 'Carter'),
 ('Cathy', 'Carradine', 'John', 'Maasch'),
 ('Leslie', 'Hunt', 'Cynthia', 'Dominguez'),
 ('Frankie', 'Christianson', 'Robert', 'Johnson'),
 ('Sarah', 'Dimaggio', 'Vickie', 'Burns'),
 ('Melanie', 'Bell', 'Rosario', 'Thomas'),
 ('Josephine', 'Smith', 'Michael', 'Finney'),
 ('Rodrick', 'Precythe', 'John', 'Marin'),
 ('William', 'Colon', 'Patricia', 'Dionne'),
 ('Debra', 'Chaney', 'Trenton', 'Benson'),
 ('Jay', 'Figueroa', 'Erma', 'Foster'),
 ('Lois', 'Forest', 'Jessica', 'Rude'),
 ('Nathaniel', 'Valle', 'Cecilia', 'Miller'),
 ('Howard', 'Cross', 'Lisa', 'Morales'),
 ('Joanna', 'Wolff', 'Geneva', 'Mattson'),
 ('James', 'Roberts', 'John', 'Cook'),
 ('James', 'George', 'Philip', 'Littlejohn'),
 ('Robert', 'Beer', 'Mark', 'Summers'),
 ('Gerald', 'True', 'Lawrence', 'Benesh'),
 ('Joseph', 'Bishop', 'Sherry', 'Kees'),
 ('Brenda', 'Luper', 'Marta', 'Redmond'),
 ('Fidel', 'Huntley', 'John', 'Gardner'),
 ('Walker', 'Lamantia', 'Mary', 'Deleon'),
 ('Teddy', 'Dorschner', 'Sandra', 'Baird'),
 ('David', 'Abramowitz', 'Dora', 'Lindsey'),
 ('Kevin', 'Traxler', 'Steve', 'Nichols'),
 ('Tiffany', 'Hannah', 'Hong', 'Brown'),
 ('John', 'Caldwell', 'Carlos', 'Szala'),
 ('David', 'Baggett', 'Karl', 'Viramontes'),
 ('Ronald', 'Canales', 'Richard', 'Kropff'),
 ('Wendy', 'Richards', 'David', 'Auclair'),
 ('Hanh', 'Jury', 'David', 'Soroka'),
 ('Leonard', 'Burton', 'Randy', 'Gavin'),
 ('Patricia', 'Acker', 'Ralph', 'Davis'),
 ('Benjamin', 'Fujihara', 'Joan', 'Roberts'),
 ('Micheal', 'Smith', 'Solomon', 'Boone'),
 ('William', 'Holberg', 'William', 'Wilson'),
 ('Tomas', 'Perkins', 'Yolanda', 'Bushey'),
 ('Myrtle', 'Manes', 'Kenneth', 'King'),
 ('Dale', 'Johnson', 'Joseph', 'Kleeb'),
 ('Elizabeth', 'Ford', 'Carrie', 'Perault'),
 ('Margo', 'Stout', 'David', 'Cieslak'),
 ('Catherine', 'Berg', 'Joseph', 'Whitley'),
 ('Jessica', 'Kidd', 'Daniel', 'Broussard'),
 ('Georgiana', 'Esquivel', 'Raymond', 'Chandler'),
 ('Daniel', 'Laidlaw', 'Amos', 'Williamson'),
 ('Sonja', 'Valdez', 'Christopher', 'Randolph'),
 ('Winnie', 'Carney', 'Casandra', 'Jackson'),
 ('Craig', 'Simon', 'Ophelia', 'Loya'),
 ('Larry', 'Colunga', 'Georgia', 'Fisher'),
 ('Winnie', 'Blankenship', 'Michael', 'Bowman'),
 ('Elizabeth', 'Presnell', 'Alexander', 'Flynn'),
 ('Regina', 'Curry', 'Melissa', 'Wince'),
 ('Stephanie', 'Beauprez', 'James', 'Mendez'),
 ('Richard', 'Vidal', 'Gail', 'Koch'),
 ('Rory', 'Steen', 'John', 'Alexander'),
 ('Ben', 'Brown', 'Martha', 'Meyer'),
 ('Rogelio', 'Labounty', 'Mary', 'Goodrich'),
 ('Charles', 'Jaeger', 'Angelica', 'Kozak'),
 ('Mark', 'Brown', 'Karen', 'Brown'),
 ('Jessica', 'Colombo', 'Victor', 'Charania'),
 ('Amber', 'Cooke', 'Ronald', 'Sullivan'),
 ('Debbie', 'Mcconnell', 'Jacqueline', 'Wilson'),
 ('Janie', 'Wills', 'Ervin', 'Mullins'),
 ('John', 'Jaimes', 'David', 'Murph'),
 ('Charles', 'Smith', 'Curtis', 'Carkhuff'),
 ('David', 'Nelson', 'Stacey', 'Nikolic'),
 ('Benito', 'Uhlig', 'Debra', 'Vinck'),
 ('Angela', 'Haveman', 'Janna', 'Hazelton'),
 ('Wanda', 'Diver', 'Diana', 'Zanola'),
 ('Christine', 'Carrasco', 'Samuel', 'Mccurry'),
 ('Francis', 'Necaise', 'Corey', 'Tousom'),
 ('Marisela', 'Ray', 'Rosa', 'Lowin'),
 ('Olga', 'Mcfarland', 'Brittany', 'Suiter'),
 ('Rosanna', 'Coe', 'Wm', 'Gonzalez'),
 ('Victor', 'Alarcon', 'Fannie', 'Boyer'),
 ('Steven', 'Neeley', 'Diane', 'Dale'),
 ('Grover', 'Gothard', 'Edwin', 'Bolk'),
 ('Ruth', 'White', 'Nathaniel', 'Mahon'),
 ('Cristine', 'Haydu', 'Mildred', 'Nii'),
 ('Kristina', 'Garcia', 'Michael', 'Vergin'),
 ('Charles', 'Nunes', 'Kevin', 'Dow')]